.card-header {
    color: aliceblue;
    margin-top: 5%;
    text-align: center;
    font-size: 36px;
    padding-bottom: 5%;
    padding-top: 10%;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
.btnn{
  gap: 5px;
}

.card-color{
  background-color: #1d1629;
  color: aliceblue;
}

.btn-color {
  background-color: #9146ff;
  color: aliceblue;
}

.gap{
  display: block;
  gap: 5px;
}
  
