.contact-syle{
    padding-bottom: 10%;
}

.beyaz{
    color: aliceblue;
}

.button-padding{
    display: flex;
    padding-top: 3%;
}

.form-labe-color{
    color: rgb(255, 240, 252);
}


.bg{
    background-image: url("C:\Users\emre_\Desktop\ezgif-3-5370643a50.gif");
    background-size: cover;
}

